@import '~bulma/bulma.sass'; // ! comment out this line if you DO NOT want to use Bulma
@import 'variables';
* {
  font-family: sans-serif, Arial, Helvetica;
}

.navbar {
  background-color: #000d1c;
  height: $header-height;
}

.hero {
  background-image: url('../assets/background-1.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: $body-height;
}

.download-poster {
  color: #36619b;
}

.footer {
  height: $footer-height;
  padding: 10px 0 0 0;
  padding: 5px 0 0 0;
  background-color: #000d1c;
}

.warning {
  // border: 1px solid red;
  // background-color: red;
  font-size: 20px;
  color: red;
}
